*{
	margin: 0px;
	padding: 0px;
}

.header{
	box-shadow: 0px 0px 4px #000;
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 9.8%;
	background-color: #1b1f26;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	transition: 0.1s ease;
}

.header input
{
	font-size: 2vh;
	padding: 0.5vh;
	border-radius: 5px;
	border-width: 0px;
	margin: 1vh;
	margin-left: 0.5vh;
	background-color: #494d52;
	outline: 0;
	color: #787a7a;
	width: 20vh;
	transition: 0.3s ease;
	cursor: pointer;
}


.header input:focus
{
	font-size: 2vh;
	color: #000;
	padding: 0.5vh;
	border-radius: 5px;
	border-width: 0px;
	margin: 1vh;
	background-color: #f0f0f0;
	outline: 0;
	margin-left: 0.5vh;
	width: 25vh;
	transition: 0.2s ease;
}

.header span{
	color: #f0f0f0;
	margin-left:1vh;
	font-size: 2.2vh;
	cursor: pointer;
}


.header span:hover{
	color: #bac1cc;
	margin-left:1vh;
	cursor: pointer;
}

.header span:active{
	color: #5f8287;
	margin-left:1vh;
	cursor: pointer;
}

.empty{
	height: 20%;
	width: 40%;
	left:30%;
	top: 40%;
	position: fixed;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: 0.1s ease;
}

.all{
	font-size: 1.2vw;
	border-radius: 10px;
	height: auto;
	width: 50%;
	left:25%;
	top: 13%;
	position: absolute;
	margin-bottom: 2%;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.1s ease;
}

.all span{
	padding: 0.5vh;
}

.all div{
	cursor: pointer;
	display: flex;
	position: relative;
	height: auto;
	width: 100%;
}
.all div:hover{
	height: auto;
	width: 100%;
	background-color: red;
}

.order_b{
	position: fixed;
	top:13%;
	left: 5%;
}

.order_b input{
	font-size: 2vh;
	padding: 2px;
	margin:0.5vh;
	margin-left: 0;
	background-color: #f0f0f0;
	border-radius: 3px;
	border-width: 0px;
	outline: 0;
}

.order_b input:hover{
	background-color: #bac1cc;
}

.order_b input:active{
	background-color: #5f8287;
}

.tr{
	font-size: 1.2vw;
	border-radius: 10px;
	height: auto;
	width: 40%;
	left:10%;
	top: 13%;
	margin-bottom: 2%;
	position: absolute;
	background-color: #4f4e4d;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.1s ease;
}

.tr span{
	padding: 0.5vh;
}

.tr div{
	cursor: pointer;
	display: flex;
	position: relative;
	height: auto;
	width: 100%;
}

#confirm_delete_button{
	display:none;
	opacity: 0.7;
}


#confirm_delete_button:hover{
	background-color: red;
	opacity: 0.7;
}
