@charset "UTF-8";

body{
  /*background-image: url("../img/back2.png");
  background-size: 100%;*/
}

fieldset{
  margin-right: 40%;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 10px;
  background-color: #909090;
  border-style: double;
  border-color: #000;
  font-size: 32px;
  box-shadow: 10px 10px 20px 5px;
}

div{
  position: relative;
}

.background_photo{
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
}

.text_into{
  position:absolute;
  top: 42.5%;
  line-height: 20%;
  font-size: 5vh;
  left: 40%;
}

.user_photo{
  width: 25%;
  position:absolute;
  outline: 2px solid #000;
  outline-offset: -2px;
  left: 5%;
  top: 10%;
}


input{
  margin-right: 30px;
  font-size: 20px;
  border-radius: 20px;
  outline: none;
  padding-left: 2%;
}

input[type="text"]:focus,  input[type="email"]:focus{
  border-color: #303030;
}

input[type="submit"], input[type="reset"]{
  padding: 4px;
  margin: 5px;
  font-size: 25px;
  border: #303030 solid 2px;
  border-radius: 5px;
  outline: 0;
  transition: 0.15s ease;
}

input[type="submit"]:focus, input[type="reset"]:focus{
  padding: 4px;
  margin: 5px;;
  font-size: 25px;
  border-radius: 5px;
  outline: 0;
  border-color: #000;
}



input[type="submit"]:hover, input[type="reset"]:hover{
  padding: 4px;
  margin: 5px;
  font-size: 25px;
  border-radius: 5px;
  outline: 0;
  transform: scale(1.1);
  border-color: #000;
  background-color: #c0b9b9;
}

input[type="submit"]:active, input[type="reset"]:active{
  padding: 4px;
  margin: 5px;
  font-size: 25px;
  border-radius: 5px;
  outline: 0;
  border-color: #000;
  background-color: #303030;
  transition: 0.15s ease;
}


@media (max-width: 1600px){
  .text_into{
  position:absolute;
  top: 42.5%;
  line-height: 20%;
  font-size: 4vh;
  left: 40%;
}
}


@media (max-width: 1000px){
  .text_into{
  position:absolute;
  top: 42.5%;
  line-height: 20%;
  font-size: 4vh;
  left: 40%;
}
fieldset{
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 10%;
  border-radius: 10px;
  background-color: #909090;
  border-style: double;
  border-color: #000;
  font-size: 32px;
  box-shadow: 10px 10px 20px 5px;
}
}


@media (max-width: 600px){
  .text_into{
  position:absolute;
  top: 42.5%;
  line-height: 20%;
  font-size: 4vh;
  left: 40%;
}
fieldset{
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 10px;
  background-color: #909090;
  border-style: double;
  border-color: #000;
  font-size: 32px;
  box-shadow: 10px 10px 20px 5px;
}
}
