 @charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  color: #333;
  background: #f7f7f7;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  line-height: 135%;
}


.premier_img{
  width: 70%;
  z-index: 1;
}


.premier_form{
  bottom: 30%;
  right: 25%;
  z-index: 2;
  position: absolute;
}


.premier_line{
    height: 1%;
    background-color: #303030;
}

.premier_center{
  width: 99%;
  height: 98%;
  position: relative;
}

input{
  padding: 4px;
  margin: 5px;
  font-size: 25px;
  border-radius: 5px;
  outline: 0;
  transition: 0.15s ease;
}

input:focus{
  padding: 4px;
  margin: 5px;
  font-size: 25px;
  border-radius: 5px;
  outline: 0;
  border-color: #430583;
}

input[type="submit"]:focus{
  padding: 4px;
  margin: 5px;
  font-size: 25px;
  border-radius: 5px;
  outline: 0;
  border-color: #000;
}


input[type="submit"]:hover{
  padding: 4px;
  margin: 5px;
  font-size: 25px;
  border-radius: 5px;
  outline: 0;
  transform: scale(1.1);
  border-color: #000;
  background-color: #c0b9b9;
}

input[type="submit"]:active{
  padding: 4px;
  margin: 5px;
  font-size: 25px;
  border-radius: 5px;
  outline: 0;
  border-color: #000;
  background-color: #303030;
  transition: 0.15s ease;
}


a{
  font-size:20px;
  margin-top:10px;
  margin-left:30px;
  text-decoration: none;
  color: #c0b9b9;
  transition: 0.5s ease;
}

a:hover{
  font-size:20px;
  margin-top:10px;
  margin-left:30px;
  text-decoration: none;
  color: #000;
  transition: 0.5s ease;
}


a:active{
  font-size:20px;
  margin-top:10px;
  margin-left:30px;
  text-decoration: none;
  color: #430583;
  transition: 0.5s ease;
}
