<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="sport, trining, exircises">
  <meta name="author" content="Anton">
  <title>SHelper</title>
  <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Bitter|Mansalva|Oswald&display=swap" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jq.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
</head>


<body onclick="close_action_on_click(),
               close_exercise_menu_on_click(),
               close_help_menu_on_click(),
               close_about_menu_on_click(),
               check_and_kick()">
  <div class="about_menu">
    <div class="menu" onmouseover="cursor_on_about_menu_up()"
                      onmouseout="cursor_on_about_menu_down()">
      <div class="internal_block_for_dark_background" style="height: 90%;">
        <div>
          <span>
            We are happy!(
          </span>
        </div>
      </div>
    </div>
  </div>


  <div class="help_menu">
    <div class="menu" onmouseover="cursor_on_help_menu_up()"
                      onmouseout="cursor_on_help_menu_down()">
      <div class="internal_block_for_dark_background" style="height: 90%;">
        <div>
          <span>
            Enjoy using=)
          </span>
        </div>
      </div>
    </div>
  </div>


  <div class="exercise_menu">
    <div id="external_exercise_block" onmouseover="cursor_on_exercise_menu_up()"
                                      onmouseout="cursor_on_exercise_menu_down()">
      <center><span style="color: #fff; font-size: 3vh;">Exercises</span></center>
      <div class="internal_block_for_dark_background" onmouseover="cursor_on_exercise_list_up()"
                                                      onmouseout="cursor_on_exercise_list_down()">
        {% for muscle_type in ex_list %}
        <script type="text/javascript">
        document.write("<div onclick='close_all_exercises_in_exlist(),open_special_exercise_with_order(" + i + ")'>" +
        "<span>{{ muscle_type }}</span></div>")
        document.write("<block id='block" + i + "' style='display: none; position: absolute;'>")
        i++
        </script>
          {% for exercise in ex_list[muscle_type] %}
          <script type="text/javascript">
          document.write("<div onclick='fix_selected_exercise(" + j + ")' id='exercise" + j +"' style='padding:1.5%; padding-left: 40%;'>")
          document.write("<span id='exname_" + j + "'>{{ exercise['name'] }}</span></div>")
          j++;
          </script>
          {% endfor %}
        </block>
        {% endfor %}
      </div>
      <input onfocus="clean_weight_field()" id="weight" type="number" name="" placeholder="Weight">
      <input onclick="fix_exercise_to_save()" type="button" name="" value="+Add">
      <input onclick="close_exercise_menu()" type="button" name="" value="Close" style="top: 93%;">
      <input type="button" name="" value="Click exercise for deleting" id="exercise_del_button">
      <hr style=" top: 52.5%; left: 5%; position: absolute; color: #f0f0f0; width: 90%; border-width: 0.5px;">
      <div class="internal_block_for_dark_background" id="fixing_field">
      </div>
    </div>
  </div>


  <div class="whole_visible_part">
      <header>
        <img class="shelper_title_icon" src="{{ url_for('static', filename='img/shelper_title_icon.png') }}">
        <a class="shelper_link" href="">
          SHelper
        </a>
        <a onclick="open_feedback_field()" style="cursor: pointer;">
          Feedback
          <div id="feedback_field" style="display: none;">
            <div class="feedback_field_inside">
              <form method="POST">
                {{ form_feedback.text(class="feedback") }}
                <img  onmouseover="light_up_cross()"
                      onmouseout="light_out_cross()"
                      onclick="close_feedback_field()"
                      src="{{ url_for('static', filename='img/cross.png') }}" id="cross">
                {{ form_feedback.submit(class="feedback_submit") }}
                </form>
            </div>
          </div>
        </a>
        <a class="regist_link" href={{ url_for('auth') }}>
          Regist
        </a>
        <a href={{ url_for('main', user_exit=True) }}>
          Exit
        </a>
      </header><br>

      <div class="main_menu">
        <center>
          <span>Sections</span>
          <hr>
          <div class="sections">
            <a href=""><span style="color:#000;">Actions</span></a>
            <a href={{ url_for('show') }}><span>Show info</span></a>
            <a onclick="start_about(),close_feedback_field()" onmouseover="cursor_on_about_menu_up()"
                                                              onmouseout="cursor_on_about_menu_down()">
              <span  style="white-space: nowrap; cursor: pointer; ">About us</span>
            </a>
            <a onclick="start_help(),close_feedback_field()" onmouseover="cursor_on_help_menu_up()"
                                                             onmouseout="cursor_on_help_menu_down()">
              <span style="cursor: pointer; ">Help</span>
            </a>
          </div>
        </center>
      </div><br>

      <div class="actions_block">
        <div class="actions" onmouseover="move_action(1),note_action_as_active(1)"
                             onmouseout="note_action_as_non_active(1),move_action_back(1)">
          <img class="action_img" src="{{ url_for('static', filename='img/first_action_image.png') }}">
          <p id="caption1" class="action_caption">New Training</p>
          <form  method="POST" id="form_action_1" style="position: absolute; z-index: -1;">
            {{ form_train.comment(autocomplete="off", onfocus="focus_on(1)",
                                                      onblur="focus_off(1),move_action_back(1)")}}
            {{ form_train.comment.label }}<br>
            {{ form_train.date(autocomplete="off", placeholder="yyyy-mm-dd", onfocus="focus_on(1)",
                                                                             onblur="focus_off(1),move_action_back(1)")}}
            <input onclick="date_go()" type="checkbox">{{ form_train.date.label }}<br>
            {{ form_train.weight(autocomplete="off", type="number", min="0", onfocus="focus_on(1)",
                                                                             onblur="focus_off(1),move_action_back(1)")}}
            {{ form_train.weight.label }}<br>
            <img onclick="close_feedback_field(), start_ex()"
            onmouseover="cursor_on_exercise_menu_up()"
            onmouseout="cursor_on_exercise_menu_down()"
            src="{{ url_for('static', filename='img/plus.png') }}"
            class="easy_anim">
            {{ form_train.training_list(id="all_exercises_during_training", value="") }}
            {{ form_train.submit(onclick="stop_time()", type="submit", value="Save", style="float:right;") }}
          </form>
        </div>

        <div class="actions" onmouseover="move_action(2),note_action_as_active(2)"
                             onmouseout="note_action_as_non_active(2),move_action_back(2)">
          <img class="action_img"
               src="{{ url_for('static', filename='img/second_action_image.png') }}">
          <p id="caption2" class="action_caption">New Exercise
          <span style="color: red;"><?=$mistake?></span></p>
          <form  method="POST" id="form_action_2" style="position: absolute; z-index: -1;">
            {{ form_ex.csrf_token }}
            {{ form_ex.name.label }}<br>
            {{ form_ex.name(autocomplete='off', value='', onfocus='focus_on(2)',
                                                          onblur='focus_off(2),move_action_back(2)') }}<br>
            {{ form_ex.category.label }}<br>
            {{ form_ex.category(class="exercise_category") }}<br>
            {{ form_ex.submit() }}
          </form>
        </div>

        <div class="actions" onmouseover="move_action(3),note_action_as_active(3)"
                             onmouseout="note_action_as_non_active(3),move_action_back(3)">
          <a href={{ url_for('stopwatch') }}>
            <img class="action_img"
                 src="{{ url_for('static', filename='img/third_action_image.png') }}">
          </a>
          <p style="padding-left: 2%; margin-top: 100%;">Stopwatch</p>
        </div>
      </div>
    </div>


    <footer>
      <span class="footer_left">
        Almost all rights reserved &copy 2020
      </span>
      <div  style="height: 100%;" class="soc_networks">
        <a href=""><img src="{{ url_for('static', filename='img/facebook.png') }}" class="footer_right" style="margin-right: 1%;"></a>
        <a href=""><img src="{{ url_for('static', filename='img/telegram.png') }}" class="footer_right"></a>
        <a href=""><img src="{{ url_for('static', filename='img/instagram.png') }}" class="footer_right"></a>
        <a href=""><img src="{{ url_for('static', filename='img/vkontakte.png') }}" class="footer_right"></a>
        <span class="special">
          Social networks
        </span>
      </div>
    </footer>
  </body>
  </html>
