<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="sport, trining, exircises">
    <meta name="author" content="Anton">
    <title>SHelper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Mansalva|Oswald&display=swap" rel="stylesheet">
  </head>
  <body>
      <div class="premier_line"></div>
      <div class="premier_center">
          <img class="premier_img" src="{{ url_for('static', filename='img/bg_index.png') }}" alt="IMG">
          <form class="premier_form", method="POST">
            {{ form.csrf_token }}
            {{ form.name.label }} {{ form.name(placeholder='username...', value="", autocomplete="off") }}
            {{ form.password.label }} {{ form.password(placeholder='password...', value="") }}
            <br>
            {{ form.submit() }}
            <a href="{{ url_for('auth') }}">Create Account</a>
          </form>
      </div>
      <div class="premier_line"></div>
  </body>
</html>
