<!DOCTYPE html>
<html>
<head>
	<title>SHelper</title>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery/jq.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
	<link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Bitter|Mansalva|Oswald&display=swap" rel="stylesheet">
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/look.css') }}">
	<script type="text/javascript">
				var i=1;
				var j=1;
        for (var i=1; i<=exe_nam1.length; i++)
        {
        	exist[i]=1;
        }
        function empt_down()
        {
        	$("#empt").attr("style","display:none;");
        }
        function exe_down()
        {
        	$("#all_exercises").attr("style","display:none;");
        }
        function exe_up()
        {
        	$("#all_exercises").attr("style","display:block;");
        }
        function delete_ex(val)
        {
        	$('#div_'+val).attr("style","display:none;");
					$('#span_'+val).attr("style","display:none;");
					$('#confirm_delete_button').attr("style","display:block");
					document.getElementById('exercise_list_to_deleting').value+=document.getElementById('span_'+val).innerHTML+" "
        	exist[val]=0;
        }
				function tr_down()
				{
					$("#all_training").attr("style","display:none;");
				}
				function tr_up()
				{
					$("#all_training").attr("style","display:block;");
				}
	</script>
</head>
<body>

	<div id="stat">	</div>


	<div class="header">
		<img style="height: 80%; margin-left:2vh; margin-right: 2vh; filter: blur(1.4px);" class="im" src="{{ url_for('static', filename='img/shelper_title_icon.png') }}">
		<span onclick="tr_up(),empt_down(),exe_down()">Go</span>
		<input type="number" placeholder="How many trainings:" id="how_many" name="">
		<span onclick="statistic_up(),empt_down(),exe_down()">View statistics</span>
		<input type="text" placeholder="Choose exercise:" name="" id="what_exe">
		<span onclick="empt_down(),exe_up(),tr_down(),statistic_down()">All exercises</span>
		<a href="{{ url_for('main') }}"><span style="margin-left:2vh;">Back to home page</span></a>
	</div>

	<div class="container">

	<div id="empt">
		<div class="empty">
			<span style="font-size: 3vh;">Fill in what you want to check</span>
		</div>
	</div>


	<div id="all_training" style="display: none;">
		<div  style="position: absolute; align-items: center; justify-content: center; margin-top: 8%; margin-left: 30%; margin-right: 30%; margin-bottom: 8%;">
			<div class="list-group">
				{% for training in all_trainings %}
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">{{ training['comment'] }}</h5>
							<small>{{ training['date'] }}</small>
						</div>
					</a>
					{% for single_exercise in training['exercises'] %}
						<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">{{ single_exercise['exercise_name'] }}</h5>
							</div>
							<small class="text-muted">{{ single_exercise['exercise_weight'] }}</small>
						</a>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>


	<div  id="all_exercises" style="display: none;">
	<form class="order_b" method="POST">
		<span>Sort by</span><br>
		<a href="{{ url_for('look', sorted_by='by_exname') }}"><input type="button" name="type_muscl" value="exercise name"></a><br>
		<a href="{{ url_for('look', sorted_by='by_datetime') }}"><input type="button" name="type_muscl" value="date&time"></a><br>
		<input type="button" style="background-color: red; opacity: 0.7;" value="click for deleting">
		{{ form.exercise_list_to_deleting(value="") }}
		{{ form.submit() }}
	</form>

	{% if sorted_by %}
		<script type="text/javascript">
			empt_down();
			exe_up();
			tr_down();
			statistic_down();
		</script>
	{% endif %}

	<div class="all">
		<span style="font-size: 3vh;">All your exercises</span>
		{% for exercise in all_exercises %}
				<script type="text/javascript">
					document.write("<div onclick='delete_ex(" + j + ")' id='div_" + j + "'><span id='span_" + j + "'>{{ exercise['exercise_name'] }}</span><span style='position:absolute; right:20vw;'>{{ exercise['muscule_type'] }}</span><span style='position:absolute; right:0;'>{{ exercise['date_time'] }}</span></div>");
					j++;
				</script>
		{% endfor %}
	</div>
	</div>
</div>

</body>
</html>
